// 9.2 Sass 사용하기

// 9.2.1 utils 함수 분리하기
// @import './styles/utils.scss';

// 9.2.2 sass-loader 설정 커스터마이징하기
// @import 'utils.scss';

.SassComponent {
  display: flex;
  // 9.2.3 node_modules에서 라이브러리 불러오기
  background: $oc-gray-2;
  @include media("<768px") {
    background: $oc-gray-9;
  }
  .box {
    background: red;
    cursor: pointer;
    transition: all 0.3s ease-in;
    &.red {
      // .red 클래스가 .box와 함께 사용되었을 때
      background: $red;
      @include squre(1);
    }
    &.orange {
      background: $orange;
      @include squre(2);
    }
    &.yellow {
      background: $yellow;
      @include squre(3);
    }
    &.green {
      background: $green;
      @include squre(4);
    }
    &.blue {
      background: $blue;
      @include squre(5);
    }
    &.indigo {
      background: $indigo;
      @include squre(6);
    }
    &.violet {
      background: $violet;
      @include squre(7);
    }

    &:hover {
      // .box에 마우스를 올렸을 때
      background: black;
    }
  }
}
